
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @*@Styles.Render("~/Content/ui-grid")
    @Styles.Render("~/Content/UserCSS/Home")*@
    <style>
        .list-group-item
        {
            height:80px;
        }
    </style>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4">
            <canvas id="myChart" style="width:300px;height:300px;"></canvas>
            <h3 style="text-shadow: 1px 1px 0px;text-align: center;color: #5c665c;">Weekly Sales summary</h3>
         </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <canvas id="myChartpi" style="width:300px;height:300px;"></canvas>
            <h3 style="text-shadow: 1px 1px 0px;text-align: center;color: #5c665c;">Root category wise sales</h3>
        </div>
        <div class="col-lg-12" style="min-height:50px"></div>
        <div class="col-lg-12" style="background:#fff9f1">
            <div class="col-lg-4">
                <div><h3 style="text-shadow: 1px 1px 0px;">Latest Products</h3></div>
                <ul class="list-group" id="ulLatestProduct">
                    <li class="list-group-item" style="height:80px">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>
                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ProductDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/ProductImages/wonderfull cake.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div><h3 style="text-shadow: 1px 1px 0px;">Latest Orders</h3></div>
                <ul class="list-group">
                    <li class="list-group-item" style="height:80px">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>
                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/OrderDefault.png" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div><h3 style="text-shadow: 1px 1px 0px;">Reorder Items</h3></div>
                <ul class="list-group">
                    <li class="list-group-item" style="height:80px">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ReorderDefault.jpg" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>
                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ReorderDefault.jpg" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ReorderDefault.jpg" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ReorderDefault.jpg" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                   
                    <li class="list-group-item">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="col-lg-3">
                                <img src="~/Content/images/ReorderDefault.jpg" style="width:60px;height:60px;object-fit:contain;" />
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-12">
                                    <span>Story@Home 120 TC 100% Cotton Yellow 1 Double Bedsheet With 2 Pillow Cover</span>
                                </div>

                                <div class="col-lg-12"></div>
                                <div class="col-lg-12">
                                    <i class="fa fa-info-circle"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    </div>



@section Scripts {
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/UserJS/Dashboard.js"></script>
    @*@Scripts.Render("~/bundles/angularuigrid")
    @Scripts.Render("~/bundles/homeangular")*@
}


