
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @*@Styles.Render("~/Content/ui-grid")
    @Styles.Render("~/Content/UserCSS/Home")*@
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4">
            <canvas id="myChart" style="width:300px;height:300px;"></canvas>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <canvas id="myChartpi" style="width:300px;height:300px;"></canvas>
        </div>
        <div class="col-lg-12" style="min-height:50px"></div>
        <div class="col-lg-12" style="background:#fff9f1">
            <div class="col-lg-4">
                <div><h3>Latest Products</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div><h3>Latest Orders</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div><h3>Reorder Items</h3></div>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        
    </div>
    
    </div>



@section Scripts {
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/UserJS/Dashboard.js"></script>
    @*@Scripts.Render("~/bundles/angularuigrid")
    @Scripts.Render("~/bundles/homeangular")*@
}


