/*LHS stacked navbar*/
.col-md-2 >.panel-primary>.panel-heading{
  min-height: 350px;
}

.container>.row>.col-md-6
{
  padding-left: 0px;
}
.container>.row>.col-md-6>.panel-default{
  min-height: 400px;
}

address {
   overflow: hidden;
   white-space: pre-line;
}

.table.dataTable
{
  margin-top: -1px!important;
  margin-bottom: -1px!important;
}
