/*Nav bar left*/
#LHSNavbarProductDetails li a
{
 font-weight: 400; 
 font-size: 15px;

}

/*required fieldset**/
.required{
      color:red;
      font-size:medium;
}

.productTabContent .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.rating-num { margin-top:0px;font-size: 100px; }
.rating .glyphicon {font-size: 25px;}

.rating-block{
	
	text-align: left;
    margin-bottom: 5px
	
}
.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


.Htags{
  float:left;
  padding:5px;
  font-family:Arial;
  margin-bottom:3px;
  margin-right:3px;
  margin-top:3px;
  margin-left:3px;
  font-size: larger;
}
.Htags{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#21939e;
  padding:5px;
  padding-bottom: 5px;
  padding-right:25px;
  margin:3px;
}
.Htags:hover{
  opacity:0.7;
}
.Htags:after{
 position:absolute;
 content:"×";
 border:0px solid;
 padding:2px 3px;
 margin-left:3px;
 font-size:15px;
}





.highlighted {
    border:2px solid #b404ae;
    background-image: url(image/tick.png);
}
.thumbnail span {
    color: #0f0;
    position: absolute;
    font-size:32px;
    top:54%;
    display:none;
    border:none;
}
.thumbnail span.highlighted {
    display:inline;    
}
.modal .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
ul.Sidebar_Party li a.error span.error {
    background-image:url(../images/warning.png)!important;
    background-repeat:no-repeat!important;
    width: 18px;
    height: 18px;
}
ul.Sidebar_Party span.error {
    float: right;
    background: 0;
    padding: 0;
}