/*Nav bar left*/
#LHSNavbarProductDetails li a
{
 font-weight: 400; 
 font-size: 15px;

}

/*required fieldset**/
.required{
      color:red;
      font-size:medium;
}

.productTabContent .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.rating-num { margin-top:0px;font-size: 100px; }
.rating .glyphicon {font-size: 25px;}

.rating-block{
	
	text-align: left;
    margin-bottom: 5px
	
}
.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


.Htags{
  float:left;
  padding:5px;
  font-family:Arial;
  margin:3px;
  font-size: larger;
}
.Htags{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#21939e;
  padding:5px;
  padding-bottom: 5px;
  padding-right:25px;
  margin:3px;
}
.Htags:hover{
  opacity:0.7;
}
.Htags:after{
 position:absolute;
 content:"×";
 border:0px solid;
 padding:2px 3px;
 margin-left:3px;
 font-size:15px;
}



.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}

.highlighted {
    border:2px solid #b404ae;
    background-image: url(image/tick.png);
}
.thumbnail span {
    color: #0f0;
    position: absolute;
    font-size:32px;
    top:54%;
    display:none;
    border:none;
}
.thumbnail span.highlighted {
    display:inline;    
}