
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Under Construction</title>
</head>
<body style="background:white">
    <div style="min-height:650px;background-image:url('../../Content/images/this_page_is_under_construc.jpg');background-repeat:no-repeat;background-position-x: 50%;background-position-y: 21%;"> 
    </div>
</body>
</html>
